// src/css/quasar.variables.scss

$primary: #4786c4;
$secondary: #26a69a;
$accent: #6a1978;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #00e6e6;
$warning: #f2c037;
